{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <h1 class='text-center'>
        Tables
    </h1>

    <div class="container mb-5">
        <div class="row mb-5">
            {% for table in tables %}
                <div class="card ml-3 mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Маса: {{ table.name }}</h5>
                        <p class="card-text">До: {{ table.max_seats }} места.</p>

                        <a href="{% url 'table details' table.id %}" class="btn btn-default">
                        {% if table.id not in occupied_table %}
                        <img src="{% static 'images/free_table.jpg' %}"
                             class="card-img-top" alt="Photo description">
                        {% else %}
                        <img src="{% static 'images/occupied_table.jpg' %}"
                             class="card-img-top" alt="Photo description">
                        {% endif %}

                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{#        <div class=" row d-flex justify-content-center align-content-center">#}
{#            <a href="{% url 'create pet photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add#}
{#                Photo</a>#}
{#        </div>#}

{% endblock %}