{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-3"></div>

            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Вход</button>


        {#        <img src="{% static 'images/Logo.jpg' %}">#}

            </form>
        <div class="col-lg-6">
            <a class="underlineHover btn btn-warning" href="{% url 'register user' %}">Регистрация</a>
        </div>

    </div>



{% endblock %}