{% extends 'base.html' %}

{% block page_content %}
    <h1 class="text-center">Edit Item</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'item edit view' foodanddrinks.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}

                <button class="btn btn-primary mt-2" type="submit">Edit</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br>
    <div class="container mb-5">
        <div class="col-lg-6 mx-auto">
            <form method="post" action="{% url 'add ingredient view' object.id %}">
                <div class="row">
                    {% csrf_token %}
                    <label>Съставка: </label>
                    {{ ingredient_form.ingredient }}
                    <label>Количество: </label>
                    {{ ingredient_form.quantity }}
                    <button type="submit" class="btn-success">Добави</button>
                </div>
            </form>
        </div>
    </div>
    <div class="event-schedule-area-two bg-color pad100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <div class="title-text">
                            <h2>Поръчка</h2>
                        </div>
                    </div>
                </div>
                <!-- /.col end-->
            </div>
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th scope="col">Наименование</th>
                                        <th scope="col">Брой</th>
                                        <th scope="col">Мерна ед.</th>
                                        <th class="text-center" scope="col">Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in current_ingredient %}
                                        <tr class="inner-box">
                                            <th scope="row">
                                                <div class="r-no">
                                                    <span>{{ forloop.counter }}</span>
                                                </div>
                                            </th>
                                            <td>
                                                <div class="r-no">
                                                    <span>{{ item.ingredient.name }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span>{{ item.quantity|floatformat:3 }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span>{{ item.ingredient.unit }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <a href="{% url 'remove ingredient view' object.id item.id %}"  class="btn btn-warning">Премахни</a>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}