{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <h1 class='text-center'>
        Kitchen
    </h1>

    <div class="container mb-5">
        <div>
            {% for item in order_items %}
                <form method="post" action="{% url 'complete item view' item.id %}">
                    <div class="d-flex justify-content-between">
                        {% csrf_token %}
                        {{ complete_form }}
                        <p>{{ item.food_and_drinks }}</p>
                        <p>{{ item.pcs|floatformat:0 }}</p>
                        <button type="submit">Готово</button>
                    </div>

                </form>

            {% endfor %}
        </div>
    </div>
{#        <div class=" row d-flex justify-content-center align-content-center">#}
{#            <a href="{% url 'create pet photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add#}
{#                Photo</a>#}
{#        </div>#}

{% endblock %}